.questions{
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.add_question{
	width: 650px;
}
input{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}